{% extends "project_detail.html" %}
{% load static %}
{% block project_content %}
<div id="overview" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Overview</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/opengl_logo.jpg' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/opengl_logo.jpg' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><em>OpenGL 3.3 is used in this project.</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">This renderer uses <a href="https://registry.khronos.org/OpenGL/specs/gl/glspec33.core.pdf">OpenGL</a> version 3.3 which is very widely supported. <a href="https://github.com/Dav1dde/glad">GLAD</a> is used to handle the locating of driver-specific functions, enabling interoperability between different systems. <a href="https://www.glfw.org/">GLFW</a> is used to provide easy functionality for creating an OpenGL instance, handling user input, and displaying our buffer to a window.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="features" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Features</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/opengl_banner.gif' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/opengl_banner.gif' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><em></em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <ol class="list-group list-group-numbered bg-primary-subtle">
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Geometric shape rendering</li>
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Model loading using Assimp</li>
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Directional and Point light sources</li>
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Blinn-Phon lighting model with linear gamma correction</li>
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Directional shadow mapping</li>
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Omnidirectional shadow maps</li>
                <li class="list-group-item bg-primary-subtle" style="border-width:0px">Normal mapping</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="structure" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Structure</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/opengl_structure.jpg' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/opengl_structure.jpg' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><em>Engine Structure</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">The engine handles the inputs from the keyboard and mouse, and therefore also handles the control of the camera. The camera and inputs are passed to the scene, which is rendered every frame. The scene contains a mixture of objects, models, and lights. In addition, there are various shaders attached to the scene that are used for different rendering conditions - like the generation of shadows.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="shadow-mapping" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Shadow Mapping</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/shadow_mapping.png' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/shadow_mapping.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-text"><em>A depth cubemap</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">To generate both directional and point shadows, a shadow map is used - the scene is rendered from the point of view of the light source, and only the depth buffer is rendered. This allows each fragment to determine whether or not it is blocked from the light source.</p>
            <p align="justify">For directional light sources, an orthographic projection matrix is used to render the depth buffer of a scene. For point sources, a cube map is used instead.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="model-loading" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Model Loading</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Model loading is performed used <a href="http://assimp.org/">Assimp</a>, which allows for the importing of models in a multitude of formats.</p>
        </div>
        <div class="col-sm-2">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="http://assimp.org/" target="_blank">
                        <img class="card-img-top" src="{% static 'img/assimp.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-text"><em></em></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="references" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">References</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify"><a href="https://learnopengl.com/">https://learnopengl.com/</a></p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="asd" class="container-fluid bg-dark p-5 getZooped">
    <div class="row align-items-start justify-content-md-center gap-5">

    </div>
</div>
{% endblock %}