{% extends "project_detail.html" %}
{% load static %}
{% block project_content %}
<div id="overview" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Overview</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/django_mvc.png' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/django_mvc.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><em>Test text.</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="features" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Features</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/templating.png' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/templating.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><em>Test text</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="structure" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Structure</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="{% static 'img/sqlite.jpg' %}" target="_blank">
                        <img class="card-img-top" src="{% static 'img/sqlite.jpg' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-text"><em>Test text.</em></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="shadow-mapping" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Shadow Mapping</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="https://animate.style/" target="_blank">
                        <img class="card-img-top" src="{% static 'img/animate.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-text"><em>Test text.</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="model-loading" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">Model Loading</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="https://github.com/evansd/whitenoise" target="_blank">
                        <img class="card-img-top" src="{% static 'img/whitenoise.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-text"><em>Test text.</em></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="references" class="container-fluid bg-secondary text-center p-5 getZooped">
    <h1 class="text-center">References</h1>
    <hr class="p-2">
    <div class="row align-items-center justify-content-md-center gap-5">
        <div class="col-md-4">
            <div class="card border-primary text-white bg-primary-subtle mb-2">
                <div class="noOverflow">
                    <a href="https://www.heroku.com/" target="_blank">
                        <img class="card-img-top" src="{% static 'img/heroku.png' %}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-text"><em>Test text.</em></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 shadow rounded p-3 bg-primary-subtle">
            <p align="justify">Test text.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="d-grid gap-2">
        <a class="btn p-4" href="#" role="button"><h5><i class="bi bi-arrow-bar-up"></i></h5></a>
    </div>
</div>
<div id="asd" class="container-fluid bg-dark p-5 getZooped">
    <div class="row align-items-start justify-content-md-center gap-5">

    </div>
</div>
{% endblock %}