{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <div class="container-fluid bg-secondary p-5">
        <h1 class="text-center animate__animated animate__fadeInDown">{{ project.description }}</h1>
        <hr class="p-2 animate__animated animate__fadeInDown">
        <div class="row align-items-center justify-content-md-center">
            <div class="col-md-4 animate__animated animate__fadeIn">
                <p align="justify" class="shadow rounded p-3 bg-primary-subtle">{{ project.details|linebreaksbr }}</p>
                <br>
                <a id="{{ project.id }}_gh_btn" class="btn btn-primary me-3 shadow hoverZoom" onclick="click_animation(this)" href="{{ project.link }}" role="button"><i class="bi bi-github"></i> GitHub</a>
                <br><br><br>
                <h5>Technology used:</h5>
                <p class="shadow rounded p-3 bg-primary-subtle">{{ project.technology }}</p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid hoverZoom animate__animated animate__fadeIn shadow-lg rounded" src="{% static project.image %}" onclick="fun_animation(this)">
            </div>
        </div>
    </div>
    <div class="container-fluid text-center bg-dark py-5">
        {% if tags %}
        <div class="row justify-content-md-center column-gap-3">
            {% for tag, tag_label, tag_delay, tag_id in tags %}
            <div class="col-md-auto text-primary py-3 ">
                <a id="{{ tag_id }}" class="btn btn-primary me-3 shadow p-4 animate__animated animate__fadeIn shadow hoverZoom" style="{{ tag_delay }}" href="{{ tag }}" role="button">
                    <h5>{{ tag_label }}</h5>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% block project_content %}

        <!-- Inserts project's content HTML here -->

    {% endblock %}
{% endblock %}
