{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <div class="container-fluid bg-secondary p-5">
        <h1 class="text-center">Projects</h1>
        <hr class="p-2">
        <div class="row align-items-start justify-content-center">
            {% for project in projects %}
            <div class="col-md-2">
                <div class="card border-primary text-white bg-primary-subtle mb-2 animate__animated animate__fadeInUp" style="{{ project.card_delay }}">
                    <img class="card-img-top" src="{% static project.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid bg-dark py-5"></div>
{% endblock %}