img:hover {
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    -o-transform: scale(1.075);
    transform: scale(1.075);
}
img {
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    transition: transform 0.2s ease;
}

img.noZoom:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

a.hoverZoom:hover {
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    -o-transform: scale(1.075);
    transform: scale(1.075);
}
a.hoverZoom {
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    transition: transform 0.2s ease;
}

div.noOverflow {
    overflow: hidden;
}